.App {
  text-align: center;
}

.App-portfolioPic {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-portfolioPic {
    animation: App-portfolioPic-spin infinite 20s linear;
  }
}

.Content {
  height: calc(100vh - 60px);
  overflow: scroll;
}

.App-Welcome {
  color: #61dafb;
}

@keyframes App-portfolioPic-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
